body {

    font-family: Arial, sans-serif;

    text-align: center;

    background: #090b14;

    color: #e8e8ff;

}



h1 {

    color: #00eaff;

    text-shadow:
        0 0 10px #00eaff;

}



button {

    background: #111827;

    color: #00eaff;

    border: 2px solid #00eaff;

    padding: 12px 30px;

    font-size: 18px;

    border-radius: 8px;

    cursor: pointer;

    transition: 0.2s;

}



button:hover {

    background: #00eaff;

    color: #090b14;

}



#sycomonCard {

    width: 900px;

    max-width: 95%;

    margin: 30px auto;

    padding: 25px;

    display: flex;

    gap: 25px;

    background: #11131f;

    border: 2px solid #30364d;

    border-radius: 15px;

    box-shadow:
        0 0 20px rgba(0, 234, 255, 0.15);

}



/* LEFT SIDE */

.leftColumn {

    width: 35%;

}



#sycomonName {

    font-size: 36px;

    color: #ffffff;

}



.imageBox {

    height: 300px;

    background: #05070d;

    border: 2px solid #30364d;

    border-radius: 12px;

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 80px;

    color: #00eaff;

    margin-bottom: 20px;

}



.discoveryInfo {

    margin-top: 20px;

    font-size: 14px;

    color: #9ca3af;

}





/* RIGHT SIDE */

.rightColumn {

    width: 65%;

}



.infoBox {

    background: #171b2b;

    border: 1px solid #30364d;

    border-radius: 12px;

    padding: 20px;

    margin-bottom: 20px;

    text-align: left;

}



.infoBox h3 {

    color: #00eaff;

    border-bottom: 1px solid #30364d;

    padding-bottom: 5px;

}



/* TYPE BADGES */

.type {

    display: inline-block;

    padding: 6px 14px;

    border-radius: 20px;

    margin: 5px;

    color: white;

}



/* RARITY */

.rarity {

    display: inline-block;

    padding: 8px 15px;

    background: black;

    color: white;

    border-radius: 8px;

}
