body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: black;
}

#sycomonCard {
    background: white;
    width: 350px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
}
