body {

    font-family: Arial, sans-serif;

    text-align: center;

    background: #dfe8ff;

}


h1 {

    font-size: 48px;

    margin-bottom: 10px;

}


#nameInput {

    padding: 12px;

    font-size: 18px;

    border-radius: 10px;

    border: 2px solid #555;

}


button {

    padding: 12px 25px;

    font-size: 20px;

    font-weight: bold;

    border-radius: 15px;

    border: none;

    cursor: pointer;

    margin: 10px;

    background: #ffcc33;

}


button:hover {

    transform: scale(1.05);

}


#logButton {

    background: #70c070;

}



#sycomonCard {

    background: white;

    width: 400px;

    margin: 30px auto;

    padding: 25px;

    border-radius: 25px;

    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);

}



#sycomonName {

    font-size: 36px;

    margin-bottom: 15px;

}



.section {

    background: #f4f4f4;

    padding: 15px;

    margin: 15px 0;

    border-radius: 15px;

}



.section b {

    font-size: 20px;

}



.section p {

    margin-bottom: 0;

}

.type {
    display: inline-block;
    color: white;
    padding: 4px 12px;
    margin: 2px;
    border-radius: 999px;
    font-weight: bold;
    min-width: 70px;
}

.fire { background:#EE8130; }

.water { background:#6390F0; }

.grass { background:#7AC74C; }

.electric { background:#F7D02C; color:black; }

.ice { background:#96D9D6; color:black; }

.fighting { background:#C22E28; }

.poison { background:#A33EA1; }

.ground { background:#E2BF65; color:black; }

.flying { background:#A98FF3; }

.psychic { background:#F95587; }

.bug { background:#A6B91A; }

.rock { background:#B6A136; }

.ghost { background:#735797; }

.dragon { background:#6F35FC; }

.dark { background:#705746; }

.steel { background:#B7B7CE; color:black; }

.fairy { background:#D685AD; }

.normal { background:#A8A77A; color:black; }


.rarity {

    display:inline-block;

    padding:6px 16px;

    border-radius:999px;

    font-weight:bold;

    color:white;

}

.common {
    background:#555;
}

.uncommon {
    background:#2e8b57;
}

.rare {
    background:#4169e1;
}

.legendary {
    background:#8b0000;
}

